<html>
<head>
    <title>Directors - <%= result[0].director_id %></title>
</head>
<body>
<h1>Directors</h1>
<ul>
    <li>Director ID: <%= result[0].director_id%></li>
    <li>First Name: <%= result[0].fname %></li>
    <li>Last Name: <%= result[0].lname %></li>
    <li>Email: <%= result[0].email %></li>
    <li>SSN: <%= result[0].ssn %></li>
    <li>Address ID: <%= result[0].address_id%></li>
    <li>Street: <%= result[0].street%></li>
    <li>City: <%= result[0].city%></li>
    <li>State: <%= result[0].state%></li>
    <li>Zip: <%= result[0].zip%></li>
    <li>Option ID: <%= result[0].option_id%></li>
    <li>Option Name: <%= result[0].name%></li>
</ul>
</body>

</html>