<html>
<head>
    <title>Options - <%= result[0].option_id %></title>
</head>
<body>
<h1>Options</h1>
<ul>
    <li>Option ID: <%= result[0].option_id%></li>
    <li>Location: <%= result[0].location %></li>
    <li>Name: <%= result[0].name %></li>
    <li>Number of Days: <%= result[0].num_days %></li>
    <li>Cost: <%= result[0].cost %></li>
</ul>
</body>

</html>