<%- include("../includes/header.ejs", {title: "Update " + directors.director_id}); %>

<h1>Update <%= directors.director_id%></h1>
<a href="/">Home</a> <br />
<form action="/director/update" method="get">
    <input type="hidden" id="director_id" name="director_id" value="<%= directors.director_id %>">
    Director Name: <input id="name" name="name" type="text" /> <br /><br />
    Category: <input id="category" name="category" type="text" />
    <br />
    <br />
    Address <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; address_log.length > i; i++ ) {
            var selected = "";
            if(address_log[i].director_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= address_log[i].address_id %>" <%= selected %> ><%= address_log[i].street + ', ' + address_log[i].zipcode %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

