<html>
<head>
    <title>Businesses - <%= result[0].business_id %></title>
</head>
<body>
<h1>Businesses</h1>
<ul>
    <li>Business ID: <%= result[0].business_id%></li>
    <li>Name: <%= result[0].name %></li>
    <li>Category: <%= result[0].category%></li>
    <li>Address ID: <%= result[0].address_id%></li>
    <li>Street: <%= result[0].street%></li>
    <li>City: <%= result[0].city%></li>
    <li>State: <%= result[0].state%></li>
    <li>Zip: <%= result[0].zip%></li>
</ul>
</body>

</html>